@charset "utf-8";
/* CSS Document */
body {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 8pt;
	background: #e0d49d;
}

#menu-horizontal {
	width: 980px;
	height: 40px;
	margin: 0 auto;
}

#menu-horizontal ul {
	list-style: none;
}

#menu-horizontal li.item {
	float: left;
	height: 35px;
	margin-top: 5px;
	padding: 0 15px;
	background: #b19667;
	margin-left: 5px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

#menu-horizontal li.selection {
	height: 40px;
	background: #fff;
	margin-top: 0px;
}


#menu-horizontal li a {
	text-decoration:none;
	color:#fff;
	font-size:17px;
	text-transform:uppercase;
	line-height:35px;
	letter-spacing:-0.3px;

}

#menu-horizontal li.selection a {
	color: #87664d;
}

#menu-horizontal img {
	width: 64px;
	margin-right: 20px;
	float: right;
}

#main {
	width: 980px;
	background: #FFF;
	border: 2px solid #fff;
	margin: 0 auto;
	padding: 25px 40px;
	-moz-border-radius: 10px 10px;
	-webkit-border-radius: 10px 10px;
	border-radius: 10px 10px;
}

#backtotheflux {
	clear: both;
}

#info {
	width: 500px;
	position: fixed;
	top: 20%;
	left: 30%;
	cursor: move;
	color: #fff;
}

.hycusinside {
	float: left;
	width: 90%;
	padding: 10px;
	background-color:#87664d; 
	border: 1px solid black;
	opacity : 0.9; 
    filter : alpha(opacity=90);
}

.hycusclosepopup {
	float: right;
	cursor: pointer;
}

.tableaudebord {
	float: left;
	width: 800px;
	margin: 10px auto;
	padding: 20px;
	border: 1px solid #87664d;
	background-color: white;
	-moz-border-radius: 10px 10px 0 20px;
	-webkit-border-radius: 10px 10px 0 20px;
	border-radius: 10px 10px 0 20px;
}

#menu {
	margin: 10px auto;
	width: 120px;
	float: right;
	padding: 5px 0px;
	-moz-border-radius: 10px 10px 20px 0;
	-webkit-border-radius: 10px 10px 20px 0;
	border-radius: 10px 10px 20px 0;
}

#menu ul {
	list-style: none;
	padding: 0px;
}

#menu li {
	float: left;
	padding: 15px 0;
	}

#menu li a img {
	border: 1px solid #ccc;
	padding: 3px;
	-moz-box-shadow:    2px 2px 3px  #ccc;
  	-webkit-box-shadow: 2px 2px 3px  #ccc;
	-o-box-shadow: 2px 2px 3px  #ccc;
  	box-shadow:         2px 2px 3px  #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

#menu li a:hover img {
	
	-moz-box-shadow:    2px 2px 3px  #fff;
  	-webkit-box-shadow: 2px 2px 3px  #fff;
	-o-box-shadow: 2px 2px 3px  #fff;
  	box-shadow:         2px 2px 3px  #fff;
	-moz-transform: translate(2px,2px);
	-webkit-transform: translate(2px,2px);
	-o-transform: translate(2px,2px);
	transform: translate(2px,2px);
}

p.titre {
	margin-top: -30px;
	padding: 0 10px;
	font-weight:bold;
	font-size: 10pt;
	display: inline-block;
	background: #fff;	
	}

.tablesorter {
	width: 100%;
}
.tablesorter img {
	height: 24px;
	padding: 2px;
}

table.stats {margin: 50px auto;}

/* Formulaires */
.formulaire {
	margin: 0 auto;
	width: 100%;
}

.formulaire label {
	width: 200px;
	margin: 5px 10px;
	text-align: right;
}


.formulaire fieldset {
	margin: 15px auto;
}

.formulaire input, select {
	width: 300px;
	margin: 10px 10px;
	display: block;
}

.formulaire .input_fields_wrap input {
    display: inline;
}
.formulaire textarea {
	width: 500px;
	height: 250px;
	margin: 10px 10px;
	display: block;
}

.formulaire textarea.chapeau {
	height: 100px;
}

.formulaire label ~ span {
	display: block;
	color:#666;
	font-size: 0.9em;
	margin: 0px 10px;
}

.formulaire img {
	display: block;
}

.small > label, .small > input, .small > select, .small > textarea {
	width: 120px;
}

.erreur {
	border-color: red;
	border-width: 1px;
	color: red;
}

.outils {
	float: left;
	border: 1px solid #960;
	margin: 10px;
	padding: 20px;
	width: 40%;
}

.right {
	float: right;
}

#footer {
	width: 600px;
	margin: 10px auto;
	padding: 0 30px;
	border: 1px #fff solid;
}